.headerImage {
    max-width: 350px;
}

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    color: #e5e7eb;
    font-size: 18px;
    flex: 1;
    padding: 16px 100px;
}

.headerTop {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 16px;
    max-width: 80vw;
}

.headerTop h3{
    font-size: 24px;
    color: #f9faf8;
    padding: 0;
    margin: 0;
}

.header h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
    padding: 0;
    text-indent: 0;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.headerBottom{
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis: 20vw;
}

.headerButton {
    background-color: #3882f6;
    color: white;
    padding: 8px;
    max-width: 8rem;
    border: none;
    border-radius: 8px;
}

.heroWrap{
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px; 
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    flex: 1;
}


.midInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
    padding-bottom: 100px;
}

.infoTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.midInfo > div{
    max-width: 150px;
    padding: 16px;

}

.quoteBackground{
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quoteBackground > div{
    max-width: 70vw;
}

.quoteText{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
    padding-top: 5vw;
    padding-bottom: 0;
}

.quoteAuthor{
    align-self: flex-end;
    padding-right: 15vw;
    padding-bottom: 5vw;
    padding-top: -10rem;
    font-weight: bold;
}

.ctaBackground{
    background-color: white;
    height: 30vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ctaBox{
    background-color:#3882f6;
    display: flex;
    width: 80vw;
    border-radius: 12px;
    align-items: center;
    justify-content: space-around;

}

.ctaText{
    color: white;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
}

.ctaTitle{
    font-size: 18px;
    font-weight: 700;
}

.ctaButton{
    background-color: #3882f6;
    color: white;
    border: 1.5px solid white;
    padding: 4px 20px;
    border-radius: 5px;
    align-self: center;

}

footer{
    background-color: #1f2937;
    text-align: center;
    padding: 20px;
    color: white;
    width: 100vw;
}